html, body
    margin: 0
    padding: 0

    background: #000
    color: #fff

    font-family: sans-serif

a, a:visited
    color: #fff
    text-decoration: none

a:hover
    color: #ff0
    text-decoration: underline

button
    border: 0
    background-color: #080
    color: #fff
    font-size: 1rem

.mainContainer
    margin: 4rem auto 0 auto;
    max-width: 50rem

table
    width: 100%

    tr:nth-child(odd)
        background: #444
    th, td
        padding: .5rem

.noPad
    padding: 0