@require 'definitions'

html, body
    margin: 0
    padding: 0

    background: $background
    color: $text

    font-family: sans-serif

body
    margin: 5rem auto 2rem
    max-width: 50rem

footer
    border-top: .01rem solid $text
    margin-top: 2rem
    text-align: center
    font-size: small
    font-family: monospace

a, a:visited
    color: $text

a:hover
    color: darken($text, 20)


*:focus
    outline: .1rem solid #080

//------------------------------------------------------------------------------
button, .button
    border: 0
    background-color: $color-bg
    color: $color-text
    font-size: 1rem
    padding: .5rem 1rem

    &:disabled
        background-color: darken($color-bg, 20)
        color: darken($color-text, 20)

.button
    display: inline-block
//------------------------------------------------------------------------------

table
    width: 100%
    border-collapse: collapse

    tbody tr:nth-child(odd)
        background: $background-alt
    th, td
        padding: .5rem
        overflow: hidden
        text-overflow: ellipsis

.noPad
    padding: 0

.error
    color: #f00


form.inline
    display: inline-block


//------------------------------------------------------------------------------
$borderWidth = .1rem
$padding-v = .2rem
$padding-h = .5rem

.formField
    margin: .5rem
    display: block

.formField-label, .formField-input
    border-width: $borderWidth
    display: inline-block

.formField-label
    padding: $padding-v $padding-h
    border: $borderWidth solid $background
    text-align: right
    vertical-align: top
    width: 10rem;

.formField-input
    padding: $padding-v
    border-color: $text
    font-size: 1rem
    color: $text
    width: 35rem

.formField-input:read-only
    border-color: transparent

.formField-error
    display: inline-block
    color: white
    background: red
    background: linear-gradient(to bottom, lighten(#f00, 10) 0%, darken(#f00, 10) 100%);
    padding: 0.2rem;
    border: .1rem solid black;

.formField-input.commonMarkInput
    padding: 0

    textarea
        border: $borderWidth solid $text

