@require '../definitions.styl'

header
    position: fixed;
    top: 0
    left: 0
    right: 0

    padding: 1rem
    background: $color-bg

    max-width: 50rem

.header-right
    float: right
    text-align: right
