@require '~*definitions'

header
    position: fixed;
    top: 0
    left: 0
    right: 0

    padding: 1rem
    background: $color-bg

.header
    margin: auto
    max-width: 50rem
    display: flex

    & > *
        flex: 1

.header-left
    text-align: left

.header-center
    text-align: center

.header-right
    text-align: right

