@require '../definitions.styl'

header
    position: fixed;
    top: 0
    left: 0
    right: 0

    padding: 1rem
    background: $color-bg

.header
    margin: auto
    max-width: 50rem

.header-left
    float: left

.header-right
    float: right
    text-align: right
