@require '~*definitions'

.onlineState
    display: inline-block
    height: .5rem
    width: 1rem
    border: 1px solid $text
    border-radius: 1rem

.onlineState-online
    background: green
.onlineState-offline
    background: red
