.openLobbies
    padding: 0

.lobbyRow
    display: flex
    align-items: center

    &:nth-child(even)
        background-color: #eee

    & > *
        padding: 0.5rem

.lobbyRowHeader
    font-weight: bold

.lobbyRow-type
    width: 1rem
    text-align: center

.lobbyRow-game, .lobbyRow-name
    flex: 2

.lobbyRow-mode
    flex: 1

.lobbyRow-players
    width: 4rem
    text-align: right

.lobbyRow-state
    width: 4rem

.lobbyRow-action
    width: 6rem
    padding: .1rem

    form
        width: 100%

    button
        width: 100%


