@require '../definitions'


.popup
    border: 0.3rem solid $background-alt

    .buttonLine
        text-align: right

.popup-title
    color: $color
    background: $background
    margin: 0
    padding: 1rem

.popup-content
    background: $background
    padding: 1rem
    border-top: .1rem solid $background-alt
    border-bottom: .1rem solid $background-alt

.popup-footer
    background: $background
    padding: .5rem
    text-align: right
