.popup
    border: 0.3rem solid #0a0

.popup-title
    color: #afa
    background: #333
    margin: 0
    padding: 1rem

.popup-content
    background: #222
    padding: 1rem
    border-top: .1rem solid #0a0
    border-bottom: .1rem solid #0a0

.popup-footer
    background: #333
    padding: .5rem
    text-align: right
