@require '../definitions.styl'

.userDisplay-online, .userDisplay-offline
    display: inline-block
    height: .4rem
    width: 1rem
    border: 1px solid $text
    border-radius: 1rem

.userDisplay-online
        background: green
.userDisplay-offline
        background: red
