.noficationRequest
    position: fixed
    padding: .5rem
    left: 2rem
    right: 2rem
    bottom: .5rem
    text-align: center
    border: .1rem solid #888
    border-radius: 2rem
    background: linear-gradient(to bottom, #fff 0%, #bbb 100%);
    background-size: 100% 150%;
    animation: scrollV 2s ease infinite;

@keyframes scrollV {
    0%{background-position:0% 0%}
    50%{background-position:0% 50%}
    100%{background-position:0% 0%}
}
